@import "styles/globalStyles";
@import "styles/mixins";

.footerContainer {
  background-color: $backgroundColor2;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  gap: 20px;
  padding-top: 40px;

  @include desktop {
    flex-direction: row;
    gap: 80px;
    padding: 4rem 0;
    position: relative;
  }
}

.footerAbout {
  width: 100%;

  @include desktop {
    width: 580px;
  }
}

.footerAbout p {
  margin: 20px 0;
}

.quickLinks {
  display: flex;
  flex-direction: column;
  line-height: 2.4;
  width: 200px;
}

.quickLinks a {
  text-decoration: none;
  color: black;
}

.contactAndSocial {
  line-height: 2.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#emailLink {
  display: flex;
  margin: 5px 0;
}

#emailLink:hover {
  cursor: pointer;
}

#emailLink span {
  margin-right: 10px;
}

#socialLinks {
  margin-top: 10px;
  width: 200px;
}
#socialLinks img {
  background-color: $blueColor;
  padding: 5px;
  height: 16px;
  width: 16px;
  border: 1px solid $darkGrey;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.copyRight {
  color: $lightGrey;
  margin-bottom: 30px;

  @include desktop {
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: 60px;
  }
}
