@import "styles/mixins";
@import "styles/globalStyles";

.main {
  background-color: $backgroundColor2;
  border: 1px solid $darkGrey;
  border-radius: 20px;
  padding: 40px 40px 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main p {
  margin: 20px 0;
}

.main > p:last-child {
  color: $lightGrey;
  font-size: 12px;
}

.emailMessage {
  height: 20px;
  margin-bottom: 10px;
}

.emailMessage .error {
  color: red;
  margin: 0;
  font-size: 12px;
}

.emailMessage .success {
  font-weight: bolder;
  margin: 0;
  font-size: 12px;
}

.main form input,
.main form button,
.referralLink input,
.referralLink button {
  width: 100%;
  margin-bottom: 20px;
  height: 46px;
  border-radius: 7px;
  font-size: 16px;
}

.main form {
  position: relative;
}

.main img {
  position: absolute;
  left: 10px;
  top: 20px;
  height: 16px;
}

.main form input,
.referralLink input {
  border: none;
  outline: 1px solid $darkGrey;
  padding: 5px 0;
  text-indent: 40px;
  color: $lightGrey;
}

.referralLink input {
  width: 80%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.main form button,
.referralLink button {
  background-color: $blueColor;
  color: white;
  border: 1px solid $darkGrey;
  height: 58px;
  cursor: pointer;
}

.referralLink button {
  width: 20%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
