@import "styles/mixins";

.steps {
  padding: 40px 0;
  text-align: center;

  @include desktop {
    text-align: left;
    padding-right: 0;
  }
}

.steps > div:nth-child(even) {
  @include desktop {
    flex-direction: row-reverse;
  }
}

.steps > div:nth-child(even) > img {
  @include desktop {
    margin-left: 20px;
  }
}

.singleStep {
  padding-bottom: 40px;

  @include desktop {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
}

.singleStep img {
  height: 100px;
  margin-right: 20px;
}

.singleStepText > * {
  margin-top: 20px;

  @include desktop {
    margin-left: 20px;
  }
}
