@import "styles/mixins";
@import "styles/globalStyles";

.storesBar {
  background-color: $backgroundColor3;
  color: white;
}

.storesBar .storesBarWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;

  @include desktop {
    align-items: center;
    gap: 60px;
    flex-direction: row;
  }
}

.singleStore {
  border: 1px solid $darkGrey;
  border-radius: 7px;
  display: flex;
  gap: 10px;
  padding: 6px 16px;

  @include desktop {
    min-width: 260px;
  }
}

.singleStore:hover {
  cursor: pointer;
}

.singleStore img {
  width: 54px;
}

.singleStore div p:nth-child(2) {
  font-weight: bold;
  font-size: 18px;
}

.reviewsStars p span {
  margin: 0 10px;
}
