// app colors

$backgroundColor1: #f8cc5d;
$backgroundColor2: #f8f4f9;
$backgroundColor3: #45565e;

$blueColor: #4eb3e3;

// font colors
$darkGrey: #1f343e;
$lightGrey: #6d7a80;
$navbarText: #434a54;

// fonts
$headlineFont1: "Caveat Brush", sans-serif;
$mainFont: "Noto Sans", sans-serif;
